@{
    ViewBag.Title = "OPDP Forms";
}
@using HmsServices.Models
@model HMS.Models.OpdPageModel


<style>
    .mian-container-opdp {
        margin-top: 50px !important;
    }
</style>
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid" style="margin-left: 12px;">
        <div class="navbar-header">
            <button id="backToOpdpList" type="submit" class="btn btn-primary pull-right">Back<div class="ripple-container"></div></button>
        </div>
    </div>
</nav>
<div class="content mian-container-opdp">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">OPDP SLIP</h4>
                        <p class="category">Complete The follow form</p>
                    </div>
                    <div class="card-content">
                        <div class="row opdFormheading">
                            <div class="col-md-3">
                                <div class="form-group label-floating">
                                    <label class="control-label">Daily No.</label>
                                    <input id="dailyNo" type="text" value="  " class="form-control other-cons" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group label-floating">
                                    <label class="control-label">Date & Time</label>
                                    <input id="dateTime"type="text" class="form-control other-cons" value="  " disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group label-floating">
                                    <label class="control-label">Serial No.</label>
                                    <input id="serialNo" type="text" class="form-control other-cons" value="  " disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group label-floating">
                                    <label class="control-label">MR No.</label>
                                    <input id="ptid" type="text" class="form-control other-cons" value="  ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Doctor</label>
                                    <select id="docDd" class="form-control">
                                        @{
                                            <option data-fee="" value="0">Select Doctor</option>
                                            if (Model != null && Model.DoctorList != null)
                                            {
                                                foreach (var doc in Model.DoctorList)
                                                {
                                                    <option data-fee="@doc.Fee" value="@doc.Id">@doc.Name</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group label-floating">
                                    <label class="control-label">Fee</label>
                                    <input id="fee" type="text" class="form-control opdRequired" disabled="" value=" ">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group label-floating">
                                    <label class="control-label">Visit No</label>
                                    <input id="visitNo" type="text" value=" " class="form-control opdRequired">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Full Name</label>
                                    <input id="fullname" type="text" value=" " class="form-control opdRequired">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">S/O, W/O, D/O</label>
                                    <input id="gname"type="text" value=" " class="form-control opdRequired">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group label-floating">
                                    <label class="control-label">Age</label>
                                    <input id="age" type="text" value=" " class="form-control opdRequired numOnly">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group label-floating">
                                    <label class="control-label">Gender</label>
                                    <select id="gender" class="form-control">
                                        <option selected="" value="1">Male</option>
                                        <option value="0">Female</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group label-floating">
                                    <label class="control-label">CNIC No.</label>
                                    <input id="cnicNo" type="text" value=" " class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Address</label>
                                    <input id="addredd" type="text" value=" " class="form-control opdRequired">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Phone No.</label>
                                    <input id="phNo" type="text" value=" " class="form-control">
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="form-group label-floating">
                                    <label class="control-label">Martial Status</label>
                                    <select id="mstatus" class="form-control">
                                        <option value="1">Married</option>
                                        <option value="0">Unmarried</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right" id="createNewOpdFormBtn">Create</button>
                        <button type="submit" class="btn btn-default pull-right" id="clearOpdFormBtn">Clear</button>

                        <img src="~/Images/loading.gif" class="pull-right loading-docs displayNone"/>
                        <a href="#" id="printLink">XXX</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/OPDAddViewJs")